  /***Global Element Styling***/

@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 
 body {
  font-family: 'Lato', sans-serif;
  background-color: #FFB873
}

h1, h2, h3, p {
  color: #3D2105;
}

h1 {
  font-size: 36px;
  @media (max-width: 600px) {
    font-size: 20px;
  }
}

#page-wrapper {
  position: relative;
}

li {
  list-style: none;
  color: #3D2105;
}

a {
  color: #392201; 
 }
 
 a:hover {
  color: #9E6731;
  text-decoration: none;
}
 
 
 